<tbody v-if="customers && customers.length > 0">
  <tr v-for="customer in customers" :key="customer.PersonID">
    <tr>
      <input v-model="customer.LastName"/>
    </tr>
    <tr>
      <input v-model="customer.FirstName"/>
    </tr>
      <!-- ------------------------------------------------------------------------------------------------ -->
    <!-- <tr>
      <input type="email" v-model="customer.Email" @blur="validateEmail(customer)" />
    </tr>
    <span v-if="customer.validationError" class="error-message">{{ customer.validationError }}</span> -->
    <tr>
      <input type="email" v-model="customer.Email" :style="{ width: '200px' }"/>
    </tr>
    <!-- ------------------------------------------------------------------------------------------------ -->
    <tr>
      <select v-model="customer.PhonePreselection" :style="{ width: '100px' }">
        <option value='+420'>+420</option>
        <option value='+421'>+421</option>
        <option value='+69'>+49</option>
      </select>
      <input v-model="customer.PhoneNumber"/>
    </tr>
    <tr>
      <input v-model="customer.DocumentNumber"/>
    </tr>
    
    <tr>
      <button class="ok-button" @click="updateToggleTable(customer)">Uložit</button> 
    </tr>
  <!-- ------ -->
  </tr>
  <tr v-for="customer in customers" :key="customer.PersonID">
    <tr>
      <!-- FIXME: je treba opravit placeholder nefunguje-->
      <input type="date" v-model="customer.dateOfBirth" placeholder="customer.dateOfBirth"/> 
      <!-- <input type="date" :value="formattedDateOfBirth(customer.dateOfBirth)" @input="formattedDateOfBirth(customer.dateOfBirth)" /> -->
    </tr>
    <tr>
      <input v-model="customer.Allergy" @change="saveField(customer)" />
    </tr>
    <tr>
      <select v-model="customer.Handicap" :style="{ width: '100px' }">
        <option value=true>Ano</option>
        <option value=false>Ne</option>
      </select>
    </tr>
    <tr><input v-model="customer.Address" /></tr>
    <tr>
      <select v-model="customer.Subscription" :style="{ width: '100px' }">
        <option value=true>Přihlášen</option>
        <option value=false>Odhlášen</option>
      </select>
    </tr>
  </tr>
</tbody>